<a href="https://colab.research.google.com/github/ajit-ai/DataScience/blob/main/PySparkMysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 53.3 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [ ]:
# First, install the mysql-connector-python package if not already installed
# !pip install mysql-connector-python

import mysql.connector

try:
    # Connecting to MySQL 8 database
    mydb = mysql.connector.connect(
        host='localhost',
        database='emp',  # Replace with your actual database name
        user='root',                    # Replace with your MySQL username
        password='mysql',       # Replace with your MySQL password
        #auth_plugin='mysql'  # Specific for MySQL 8
        auth_plugin='mysql_native_password'
    )

    # Create a cursor object
    cursor = mydb.cursor()

    # Execute a simple SELECT query
    query = "SELECT * FROM employee"  # Replace with your actual table name
    cursor.execute(query)

    # Fetch and print all records
    records = cursor.fetchall()

    # Print column names
    column_names = [i[0] for i in cursor.description]
    print("Column names:", column_names)

    # Print each record
    print("\nRecords:")
    for record in records:
        print(record)

except mysql.connector.Error as error:
    print(f"Error connecting to MySQL: {error}")

finally:
    # Close the connection
    if 'mydb' in locals() and mydb.is_connected():
        cursor.close()
        mydb.close()
        print("\nMySQL connection is closed")

Error connecting to MySQL: 2003: Can't connect to MySQL server on 'localhost:3306' (Errno 111: Connection refused)